.offer-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid rgb(217, 217, 217);
  background-color: rgb(217, 217, 217);
  width: auto;
  min-height: 29.5rem;
}
.card-offer-image {
  width: 25%;
  border-radius: .625rem;
  margin-top: 1rem;
}
.offer__card__button {
  background-color: black;
  color: white;
  margin-bottom: 0.7rem;
  width: 93%;
  min-height: 4.6rem;
  margin-inline: auto;
  font-weight: 300;
  font-size: 1.3rem;
}
.offer-registration-button {
  background-color: var(--first-color-logo);
  color: white;
  border: 1px solid var(--first-color-logo);
  cursor: pointer;
}
.more-info__button {
  background-color: white;
  border: 1px solid var(--first-color-logo);
  color: var(--first-color-logo);
  margin-bottom: 0.7rem;
  width: 93%;
  margin-inline: auto;
  font-weight: 600;
  font-size: 1.3rem;
}
