.solution__data__item {
  display: flex;
  flex-direction: column;
  width: 24%;
}
.icon-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.375rem;
  height: 4.375rem;
  line-height: 4.375rem;
  border: 2px solid rgb(182, 37, 102);
  border-radius: 4.375rem;
}
img[alt="cardImage"] {
  margin-top: 1.85rem;
  width: 2.313rem;
  height: 2.313rem;
}
