/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/*===== VARIABLES CSS =====*/
:root {
	--header-height: 3rem;

	/*========== Colors ==========*/
	--first-color: #582d37;
	--first-color-alt: #582d37;
	--first-color-send: #582d37;
	--first-color-logo: #660033;
	--title-color: #161212;
	--text-color: black;
	--text-color-light: black;
	--body-color: #fff;
	--container-color: #fff;

	/*========== Font and typography ==========*/
	--body-font: 'Poppins', sans-serif;
	--biggest-font-size: 1.2rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1.125rem;
	--normal-font-size: 0.938rem;
	--small-font-size: 0.813rem;

	/*========== Font weight ==========*/
	--font-semi-bold: 600;
	--font-bold: 700;

	/*========== Margenes ==========*/
	--mb-1: 0.5rem;
	--mb-2: 1rem;
	--mb-3: 1.5rem;
	--mb-4: 2rem;
	--mb-5: 2.5rem;
	--mb-6: 3rem;
	/*========== z index ==========*/

	--z-tooltip: 10;
	--z-fixed: 100;
}

@media screen and (min-width: 968px) {
	:root {
		--biggest-font-size: 3rem;
		--h2-font-size: 1.75rem;
		--h3-font-size: 1.25rem;
		--normal-font-size: 1rem;
		--small-font-size: 0.875rem;
	}
}

/*========== BASE ==========*/
*,
::before,
::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
	--first-color-send: #161212;
	--title-color: #f3f1f1;
	--text-color: #d1c7c8;
	--body-color: #251d1e;
	--container-color: #302728;
}

/*========== Button Dark/Light ==========*/
.change-theme {
	position: absolute;
	right: 1.5rem;
	top: 2.2rem;
	display: flex;
	color: var(--title-color);
	font-size: 2rem;
	cursor: pointer;
}

body {
	margin: var(--header-height) 0 0 0;
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	background-color: var(--body-color);
	color: var(--text-color);
	line-height: 1.6;
}

h1,
h2,
h3,
ul,
p {
	margin: 0;
}

h1,
h2,
h3 {
	font-weight: var(--font-semi-bold);
	color: var(--title-color);
}

h4 {
	color: black;
}

ul {
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
	font-weight: 500;
}

img,
video {
	max-width: 100%;
	height: auto;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: var(--first-color-logo);
	opacity: 1; /* Firefox */
  }
/*========== CLASS CSS ==========*/
.section {
	padding: 4rem 0 2rem;
}

.fa-check {
	color: #01b239;
}

/*========== LAYOUT ==========*/
.l-main {
	overflow: hidden;
}

.bd-container {
	max-width: 1080px;
	width: calc(100% - 3rem);
	margin-left: var(--mb-3);
	margin-right: var(--mb-3);
}

.bd-grid {
	display: grid;
	gap: 1.2rem;
}

#deux {
	grid-row: 1;
}

.l-header {
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: var(--z-fixed);
	background-color: white;
}

.valign {
	vertical-align: middle;
}

#img {
	margin-top: 7px;
	margin-bottom: 6px;
	margin-right: 10px;
}
img[alt="companyLogo"] {
	transform: scale(1.4);
}
/*========== NAV ==========*/
.nav {
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-bar-link {
	margin-inline: 1.1rem;
}
.nav__list .active {
	position: relative;
}
.nav__list .active::before{
	content: '';
	position: absolute;
	bottom: -0.3rem;
	width: 100%;
	height: 1px;
	background-color: var(--first-color);
}
.btn {
	cursor: pointer;
}
@media screen and (max-width: 768px) {
	.nav__menu {
		position: fixed;
		top: -100%;
		left: 0;
		right: 0;
		width: 90%;
		margin: 0 auto;
		padding: 2.5rem 0 0;
		text-align: center;
		background-color: var(--body-color);
		transition: 0.4s;
		box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
		border-radius: 2rem;
		z-index: var(--z-fixed);
	}
}

.nav__item {
	margin-bottom: var(--mb-3);
}

.nav__link,
.nav__logo,
.nav__toggle {
	color: var(--title-color);
	font-weight: var(--font-semi-bold);
	cursor: pointer;
}

.nav__logo:hover {
	color: var(--first-color);
}

.nav__link {
	transition: 0.3s;
}

.nav__link:hover {
	color: var(--first-color);
}

.nav__toggle {
	font-size: 1.3rem;
	cursor: pointer;
}

/* Show menu */
.show-menu {
	top: calc(var(--header-height) + 1rem);
}

.toggle-wrapper {
	height: 25px;
	width: 25px;

	display: flex;
	justify-content: center;
	border: 0;
	background-color: #fff;
}

/* Change background header */
.scroll-header {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

/* Scroll top */
.scrolltop {
	position: fixed;
	right: 1rem;
	bottom: -20%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.3rem;
	background: rgb(0, 85, 255);
	border-radius: 0.4rem;
	z-index: var(--z-tooltip);
	transition: 0.4s;
	visibility: hidden;
}

.scrolltop:hover {
	background-color: var(--first-color);
}

.scrolltop__icon {
	font-size: 1.5rem;
	color: var(--body-color);
}

.show-scroll {
	visibility: visible;
	bottom: 1.5rem;
}

/*========== HOME ==========*/
.home__container {
	display: flex;
}
.button__registration{
	display: inline-block;
	background-color: var(--first-color-logo);
	color: #fff;
	padding: 1rem 1.5rem;
	border-radius: 0.5rem;
	font-weight: var(--font-semi-bold);
	transition: 0.3s;
	text-align: center;
	font-size: 0.72rem;
}
.home__img__add{
	font-weight: bold;
	font-size: 2rem;
}
h1.home__title {
	padding-top: 5rem;
	font-weight: 300;
}
.home__list{
	display: flex;
	margin-block: 2rem;
}
.home__list__col {
	width: 100%;
}
.icon-list {
	width: 15px;
	height: 15px;
}
.home-list-icon {
	background-color: #e4dee0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	line-height: 30px;
	height: 30px;
	border-radius: 30px;
	margin-right: .7rem;
}
.fa-dollar {
	background-color: #e4dee0;
	display: flex;
	justify-content: center;
	width: 30px;
	line-height: 30px;
	height: 30px;
	border-radius: 30px;
}
.registration-title {
	font-size: 1rem;
	margin-bottom: .5rem;
	font-weight: 600;
	text-transform: uppercase;
}
.home-registration-form {
	width: 80%;
	display: flex;
	flex-direction: column;
	padding: 3.5% 5%;
}
.registration-button {
	width: 9rem;
	height: auto;
	background-color: var(--first-color);
	color: white;
	border: 1px solid var(--first-color);
	margin-bottom: .7rem;
	cursor: pointer;
}
.preregistration__container{
	margin-top: 0.3rem;
	display: flex;
	justify-content: center;
	width: 100%;
}
.preregistration__container__form{
	width: 100%;
	text-align: center;
}
.preregistration__container__input{
	margin-top: .5rem;
	border: 1px solid var(--first-color-logo);
	color: rgb(0, 0, 0);
	width: 100%;
	height: 2.35rem;
	text-align: center;
	border-radius: 6px;
	outline: none;
}
.play-video {
	border: 1px solid rgb(184, 183, 183);
    cursor: pointer;
	width: 65%;
	padding: 17px 5px;
    font-size: 1rem;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: white;
}
/*========== BUTTONS ==========*/
.button {
	display: inline-block;
	background-color: var(--first-color);
	color: #fff;
	padding: 1rem 1.5rem;
	border-radius: 0.5rem;
	font-weight: var(--font-semi-bold);
	transition: 0.3s;
	text-align: center;
	font-size: 0.72rem;
}

.button:hover {
	background-color: var(--first-color-alt);
}

.button-link {
	background: none;
	padding: 0;
	color: var(--first-color);
}

.button-link:hover {
	background-color: transparent;
	color: var(--first-color-alt);
}

/*========== FEATURE ==========*/
.share__container {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	flex-wrap: wrap;
}

/*========== MOBILE ==========*/
.mobile__title{
	text-align: center;
	font-weight: 400;
}
.mobile__task__container {
	margin-top: 5rem;
	display: flex;
	justify-content: space-between;
}
.mobile__task__info {
	width: 47%;
}
.task__info-title {
	font-size: 1.4rem;
	margin-bottom: 1rem;
}
.mobile__task__image {
	width: 40%;
	text-align: center;
}
/*========== SOLUTION ==========*/
.solution {
	text-align: center;
	background-image: url('../images/Rectangle111.png');
  	background-repeat: no-repeat; /* Do not repeat the image */
  	background-size: cover; /* Resize the background image to cover the entire container */
}
.solution__title {
	margin-bottom: 1rem;
}
/*========== DISTINCTION ==========*/
.distinction {
	text-align: center;
}
.distinction__title {
	font-size: 1.8rem;
	font-weight: 700;
}
.distinction__container {
	display: flex;
	justify-content: space-between;
	margin-block: 3rem;
}
/*========== MEDIA QUERIES DISTINCTION & SOLUTION ==========*/

/*========== OFFER ==========*/
.offer {
	display: flex;
	justify-content: center;
}
.offer__description {
	border-top: 1px solid #000;
	padding-top: .5rem;
	min-height: 9rem;
}
table {
	border-collapse: collapse !important;
}
th {
	border-bottom: 1.78px solid rgb(153, 152, 152);
}

th.table__offer__title {
	font-size: 1.8rem;
	font-weight: 700;
}
.th__offer {
	text-align: center;
}
.offer-image {
	width: 35%;
	border-radius: 10px;
	position: relative;
	top: -1.5rem;
}
thead th:nth-child(1), tbody td:nth-child(1) {
	text-align: left;
	width: 40%;
}
thead th:nth-child(2), tbody td:nth-child(2), tfoot td:nth-child(2) {
	width: 20%;
	background-color: rgb(213, 212, 212);
}

thead th:nth-child(3), tbody td:nth-child(3), tfoot td:nth-child(3) {
	width: 20%;
	background-color: #f3f1f1;
}

thead th:nth-child(4), tbody td:nth-child(4), tfoot td:nth-child(4) {
	width: 20%;
	background-color: rgb(213, 212, 212);
}

tbody td {
	text-align: center;
	border-bottom: .5px solid rgb(153, 152, 152);
	padding-block: .5rem;
}

tfoot td {
	padding-top: .8rem;
	text-align: center;
}
/*========== ACCESSORIES ==========*/
.accessory__container {
	grid-template-columns: repeat(2, 1fr);
	padding-bottom: 2rem;
}

.accessory__content {
	position: relative;
	display: grid;
	padding: 0.25rem 0.75rem 0.75rem;
	background-color: var(--container-color);
	box-shadow: 0 2px 6px rgba(65, 11, 16, 0.15);
	border-radius: 1rem;
}

.accessory__content:hover {
	box-shadow: 0 3px 12px rgba(65, 11, 16, 0.15);
}

.accessory__img {
	width: 110px;
	justify-self: center;
	margin-bottom: 0.25rem;
}

.accessory__title,
.accessory__category {
	text-align: center;
}

.accessory__title {
	font-size: var(--normal-font-size);
}

.accessory__category {
	font-size: var(--small-font-size);
	margin-bottom: var(--mb-1);
	color: var(--text-color-light);
}

.accessory__preci {
	font-weight: var(--font-semi-bold);
	color: var(--title-color);
}

.accessory__button {
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	flex-wrap: wrap;
}
.share__element {
	width: 23%;
}
/*========== MOBILE ==========*/
.mobile__title{
	text-align: center;
	font-weight: 400;
}
.mobile__task__container {
	margin-top: 5rem;
	display: flex;
	justify-content: space-between;
}
.mobile__task__info {
	width: 47%;
}
.task__info-title {
	font-size: 1.4rem;
	margin-bottom: 1rem;
}
.mobile__task__image {
	width: 40%;
	text-align: center;
}
/*========== SOLUTION ==========*/
.solution {
	text-align: center;
}
.solution__title {
	margin-bottom: 1rem;
}
.solution__data {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 5rem;
}
/*========== DISTINCTION ==========*/
.distinction {
	text-align: center;
}
.distinction__title {
	font-size: 1.8rem;
	font-weight: 700;
}
.distinction__container {
	display: flex;
	justify-content: space-between;
	margin-block: 3rem;
}
.distinction__item {
	width: 18%;
}
/*========== OFFER ==========*/
.offer {
	display: flex;
	justify-content: center;
}
.offer__description {
	margin-top: 1.5rem;
}
table {
	border-collapse: collapse !important;
}
th {
	border-bottom: 1.78px solid rgb(153, 152, 152);
	height: 4rem;
}
.table__offer__title {
	font-size: 1.8rem;
	font-weight: 700;
}
thead th:nth-child(1), tbody td:nth-child(1) {
	text-align: left;
	width: 40%;
}
thead th:nth-child(2), tbody td:nth-child(2) {
	width: 20%;
	background-color: rgb(213, 212, 212);
}

thead th:nth-child(3), tbody td:nth-child(3) {
	width: 20%;
	background-color: #f3f1f1;
}

thead th:nth-child(4), tbody td:nth-child(4) {
	width: 20%;
	background-color: rgb(213, 212, 212);
}

tbody td {
	text-align: center;
	border-bottom: .5px solid rgb(153, 152, 152);
	padding-block: .5rem;
}

/*========== TESTIMONIAL ==========*/
.testimonial {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background-image: url('../images/Rectangle106.png');
	background-size: contain;
	background-repeat: no-repeat;
}
.testimonial__title {
	font-weight: 800;
	font-size: 1.7rem;
	margin-top: 4rem;
}
.testimonial__text {
	margin-block: 1.2rem !important;
	width: 80%;
	margin: auto;
	text-align: center;
}
.carousel-root {
	width: 80% !important;
	margin: auto !important;
	margin-top: 3% !important;
  }
  
  .carousel .slide {
	background: #fff !important;
	color: black;
	height: 100%;
  }
  
  .carousel__item__image {
	display: flex;
	height: 5rem;
	justify-content: center;
	text-align: left;
	align-items: center;
  }
  .carousel .slide img {
	width: 70px !important;
	border-radius: 50%;
	margin-right: 1.6rem;
  }

  .carousel .control-dots {
	padding-left: 5px !important;
	outline: 0;
	bottom: -15% !important;
  }

.carousel .control-dots .dot {
	box-shadow: none !important;
	background: #454545 !important;
	outline: 0;
  }
  
  .carousel.carousel-slider .control-arrow {
	/* background: #000 !important; */
	border-radius: 20px;
	height: 40px;
	width: 40px;
	position: absolute;
	top: 50% !important;
  }
  @media only screen and (max-width: 934px) {
	.carousel-root {
	  outline: 0;
	  width: 93% !important;
	  margin: auto !important;
	}
	.carousel .slide img {
	  width: 50px !important;
	  border-radius: 50%;
	}
  }
/*========== GET IN TOUCH ==========*/
.get_in_touch {
	text-align: center;
}
.get_in_touch__form {
	margin-top: 1.5rem;
	display: flex;
	justify-content: center;
	width: 100%;
}
.get_in_touch__title {
	font-weight: 800;
	font-size: 1.7rem;
}
.get_in_touch__button {
	background-color: var(--first-color-logo);
	color: white;
	border: 1px solid white;
	width: 15%;
}
/*========== FOOTER ==========*/
.footer {
	margin-top: 3rem;
	background-image: url('../images/Rectangle107.png');
	height: 300px;
	background-size: cover;
	padding-top: 3rem !important;
}
.footer__container {
	color: white;
	display: flex;
	justify-content: space-around;
	padding-block: 3rem;
}
.footer_subtitle {
	color: white;
	font-weight: 600;
	margin-bottom: 1.5rem;
}
.navigation_link_list > li a{
	color: white;
	font-size: 1rem;
	font-weight: 100;
}
.footer_registration {
	width: 35%;
}
.footer_registration > h4 {
	color: white;
}
.footer_registration__button {
	color: white;
	background-color: #161212;
	height: 3.55rem;
}
@media only screen and (max-width: 768px) {
	.footer {
		text-align: center;
	}
	.footer_subtitle {
		margin-bottom: .6rem;
		margin-top: 2rem;
	}
	.footer__container {
		flex-direction: column;
		background-color: rgb(131, 131, 131);
	}
	.footer_registration {
		margin: auto;
	}
	.footer_registration__button {
		width: 70%;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1002px) {
	.footer_registration__button {
		width: 70%;
	}
	iframe[title="Bpartvideo"] {
		width: 100%;
	}
}
/*========== DESCRIPTION ==========*/
.description {
	margin-top: 2rem;
}
.description__container {
	display: flex;
}
.description__title {
	font-size: 1.8rem;
	font-weight: 400;
}
.description__paragraph {
	margin-top: 1rem;
	font-size: .81rem;
}
.description__col1, .description__col2 {
	width: 50%;
}
.description__col2 {
	display: flex;
	align-items: center;
	justify-content: center;
}
.description__logo {
	width: 50%;
	height: auto;
}
/*========== HISTORY ==========*/
.history {
	margin-top: 2rem;
}
.history__title {
	text-align: center;
	font-size: 1.8rem;
	font-weight: 700;
	margin-bottom: 2rem;
}
.actual-year {
	margin-left: 2rem;
	font-size: 3rem;
	font-weight: 200;
}
@media only screen and (max-width: 1200px) {
	.history {
		min-height: 900px;
	}
}
/*========== LOCATION ==========*/
.location__container {
	display: flex;
	margin-top: 2rem;
}
.location__col1, .location__col2 {
	width: 50%;
}
.location__col2 {
	display: flex;
	justify-content: end;
}
.location__title {
	font-weight: 400;
	font-size: 1.8rem;
	margin-bottom: 1rem;
}
/*========== CONTACT FORM ==========*/
.contact-form__container {
	display: flex;
}
.contact-form__title {
	font-size: 1.2rem;
	font-weight: 800;
}
.contact-form__col1 {
	width: 30%;
	font-size: .8rem;
}
.contact-form__col2 {
	margin-left: 10%;
	width: 60%;
}
/*========== MEDIA QUERIES ==========*/

/* For full-screen images on small screens */
@media screen and (max-width: 359px) {
	.send__img {
		width: 100%;
	}
	.home__title{
		font-size: var(--normal-font-size);
	}
}
@media screen and (min-width: 359px) and (max-width: 576px) {
	.home__title{
		font-size: var(--h3-font-size);
	}
}
@media screen and (min-width: 576px) {
	.home__title{
		font-size: var(--h2-font-size);
	}
	.send__container {
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
	}
	.send__description {
		text-align: initial;
	}

	.send__img {
		width: 100%;
	}
}

@media only screen and (max-width: 768px) {
	.home__container {
		flex-direction: column-reverse;
		margin-block: 2rem;
	}
	.home-registration-form {
		width: 100%;
		margin-top: 1rem;
	}
	.distinction__container, .solution__data, .mobile__task__container, .share__container, 
	.description__container, .location__container, .contact-form__container, .home__list {
		flex-direction: column;	
		margin-block: 0 !important;
	}
	.distinction__item, .solution__data__item, .mobile__task__container > div, .share__element {
		margin: auto;
		margin-bottom: 2rem;
		width: 80% !important;
	}
	.description__col2, .location__col1, .location__col2, .contact-form__col1, .contact-form__col2 {
		width: 90%;
		margin-bottom: 1.5rem;
	}
	.solution > p {
		margin-bottom: 2rem;
	}
	.description__col1, .contact-form__col2, .home__list__col {
		width: 100%;
		margin-left: 0;
	}
	.home__list__col > ul {
		margin: auto;
	}
	h1.home__title {
		text-align: center;
	}
	.list-icon__text {
		width: 100% !important;
	}
	iframe[title="Bpartvideo"] {
		width: 100%;
	}
}

@media screen and (min-width: 768px) {
	body {
		margin: 0;
	}
	.section {
		padding-top: 5rem;
	}

	.nav {
		height: calc(var(--header-height) + 1.5rem);
	}

	.nav__list {
		display: flex;
		align-items: center;
	}

	.nav__item {
		margin-left: var(--mb-5);
		margin-bottom: 0;
	}

	.nav__toggle {
		display: none;
	}

	.change-theme {
		position: initial;
		margin-left: var(--mb-4);
	}

	.share__container {
		padding: 0 2rem;
	}

	.accessory__container {
		grid-template-columns: repeat(3, 224px);
		justify-content: center;
	}

	.accessory__content {
		padding: 0.5rem 1.5rem 1.5rem;
	}

	.accessory__img {
		width: 120px;
		margin-bottom: var(--mb-1);
	}

	.accessory__title,
	.accessory__category {
		text-align: initial;
	}

	.accessory__button {
		padding: 0.75rem;
	}

	.send {
		background: none;
	}

	.send__container {
		background-color: var(--first-color-send);
		padding: 2rem;
		border-radius: 1.5rem;
	}
}

#ouvrir-compte {
	background: #582d37;
	padding: 5px 10px;
	text-transform: none;
}

@media screen and (min-width: 968px) {
	.bd-container {
		margin-left: auto;
		margin-right: auto;
	}

	.send__img {
		width: 320px;
	}
}

.container {
	margin: 0 auto;
	padding: 50px 0 0;
	max-width: 960px;
	width: 100%;
}

.panel {
	background-color: #fff;
	padding: 0px 25px;
	position: relative;
	width: 100%;
	z-index: 10;
}

.pricing-table {
	display: flex;
	flex-direction: column;
}

#popular {
	box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08),
		0px 8px 20px 7px rgba(0, 0, 0, 0.02);
}
.list-icon__text {
	width: 12.5rem;
}
@media (min-width: 900px) {
	.pricing-table {
		flex-direction: row;
	}
	.pricing-plan {
		border-bottom: none;
		flex-basis: 100%;
		padding: 25px 30px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		margin: 0;
	}

	.pricing-plan:last-child {
		border-right: none;
	}
}

.pricing-img {
	margin-top: 25px;
	margin-bottom: 25px;
	max-width: 100%;
	border-radius: 5px;
}

#fusee {
	margin-top: 10px;
	margin-bottom: 35px;
	max-width: 100%;
}

.pricing-header {
	font-weight: 600;
	text-align: center;
}

.pricing-features {
	margin: 30px 0 25px;
}

.pricing-features-item {
	display: flex;
	font-size: .75rem;
	line-height: 1.5;
	padding: 10px 0;
	float: left;
}

.pricing-price {
	display: block;
	font-size: 1rem;
	text-align: center;
}

.pricing-button {
	width: 100%;
	border-radius: 5px;
	background-color: var(--first-color);
	display: inline-block;
	color: white;
	font-weight: 600;
	font-size: var(--small-font-size);
	text-align: center;
	margin-top: 25px;
	padding: 10px 10px;
	text-decoration: none;
	transition: all 150ms ease-in-out;
}

.pricing-button:hover,
.pricing-button:focus {
	background-color: #3b1e25;
}

.pricing-button.is-featured {
	background-color: var(--first-color);
	color: #fff;
}

.pricing-button.is-featured:hover,
.pricing-button.is-featured:active {
	background-color: #3b1e25;
}

#popular .pined {
	position: relative;
}

.popular-label {
	position: absolute;
	top: -45px;
	background: #e4dee0;
	border-radius: 4px;
	font-weight: var(--font-semi-bold);
	padding: 2px 10px;
	margin: 0px 55px;
	font-size: 15px;
	text-align: center;
	color: var(--first-color);
}
.swiper-container {
	width: 480px;
  }
  
  @media screen and (min-width: 640px) {
	.swiper-container {
	  width: 640px;
	}
  }
  
  @media screen and (min-width: 768px) {
	.swiper-container {
	  width: 768px;
	}
  }