.hero-image__bg {
  object-fit: cover;
  height: 60vh;
  width: 60vh;
  top: 0;
  left: 0;
  position: absolute;
}

.hero-image__tl {
  top: -10px;
  left: -10px;
  position: absolute;
}

.hero-image__tl > img {
  object-fit: cover;
  height: 20rem;
  width: 20rem;
  border-right: 10px solid #f5f5f5;
  border-bottom: 10px solid #f5f5f5;
  border-radius: 0px 0px 20px 0px;
}

.hero-image__tl::before {
  content: '';
  position: absolute;
  top: 10px;
  right: -10px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  box-shadow: -5px -5px 1px 2px #f5f5f5;
}

.hero-image__tl::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 10px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  box-shadow: -5px -5px 1px 2px #f5f5f5;
}

.hero-image__br {
  position: absolute;
  bottom: -10px;
  right: -10px;
}

.hero-image__br > img {
  object-fit: cover;
  height: 20rem;
  width: 20rem;
  border-left: 10px solid #f5f5f5;
  border-top: 10px solid #f5f5f5;
  border-radius: 20px 0px 0px 0px;
}

.hero-image__br::before {
  content: '';
  position: absolute;
  top: -10px;
  right: 10px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  box-shadow: 5px 5px 1px 2px #f5f5f5;
}

.hero-image__br::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: -10px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  box-shadow: 5px 5px 1px 2px #f5f5f5;
}

.hero__button {
  padding: 20px 40px;
  border-radius: 20px;
  background: #582d37;
  color: #fff;
  border: none;
}
