:root {
  --pine: #4a644e;
  --peach: #ffb179;
  --linen: #beb4a4;
  --white: #ffffff;
  --black: #1f1f1f;
  --cream: #f0ece1;
  --forest: #112717;
  --neon-orange: #ff521b;
}

body,
html {
  margin: 0 !important;
  padding: 0 !important;
  width: 100vw !important;
  overflow-x: hidden;
  background-color: var(--cream);
}

* {
  font-family: 'Kumbh Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.button--pricing {
  border: none;
}

input {
  font-family: Arial, Helvetica, sans-serif !important;
}
